.App {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.App .input-header {
    display: flex;
    border-bottom: 2px solid #bebebe;
}

.App .input-header .check-all {
    margin-left: 12px;
    transform: rotate(90deg);
}

.App .input-header .check-all::before {
    content: "â¯";
    font-weight: bold;
    font-size: 28px;
    transform: rotate(90deg);
    opacity: 0.3;
}

::placeholder {
    font-size: 20px;
    opacity: .3;
}

.App .input-header>input {
    border: none;
    font-size: 20px;
    width: 100%;
    padding: 10px 0 10px 20px;
    font-weight: 300;
}

.App .input-header>input:focus {
    outline: none;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.Main {
    margin: auto;
    border: 1px solid #bebebe;
    width: 30%;
    box-shadow: 3px 7px 2px;
}